# Environment variables for Frontend (Vite)

# Untuk Development (Lokal)
VITE_API_URL=http://localhost:3000/api

# Untuk Production (Set ini di Dashboard Vercel / Netlify)
# VITE_API_URL=https://mini-sales-production.up.railway.app/api
