# Environment variables for Backend (NestJS + Prisma)

# Connection string ke Database PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/minipos?schema=public"

# Port aplikasi (Railway otomatis mengatur nilai PORT di production)
PORT=3000

# URL Frontend (Untuk konfigurasi CORS di backend)
# Lokal: http://localhost:5173
# Production: https://domain-frontend-anda.vercel.app
FRONTEND_URL="http://localhost:5173"
